/** theme de la aplicacion **/
*.rf-ico-disc,*.rf-ico-disc-dis,*.rf-ico-disc-hdr-dis {
	background-image: url("../resources/images/menuChild.png") !important;
}
/** inicio estilos generales **/
* {
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: "Lato Latin", "Helvetica Neue", Helvetica, Arial,
		sans-serif !important;
}

html,body {
	height: 100%;
	background-color: #FFFFFF;
}

@font-face {
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: 400;
}

button,input[type="reset"],input[type="submit"],input[type="button"] {
	display: inline-block;
	*display: inline;
	padding: 4px 10px;
	margin: 2px 2px 2px 2px !important;
	font-size: 10px;
	height: 26px;
	line-height: 1em;
	color: #333333;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	vertical-align: middle;
	cursor: pointer;
	background-color: #fff;
	*background-color: #e6e6e6;
	background-image: -moz-linear-gradient(top, #ffffff, #ffffff);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff),
		to(#e6e6e6));
	background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
	/*	background-image: linear-gradient(to bottom, #ffffff, #B3B3B3);  */
	background-repeat: repeat-x;
	border: 1px solid #99B2B7;
	*border: 0;
	border-color: #e6e6e6 #e6e6e6 #bfbfbf;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25) !important;
	border-bottom-color: #b3b3b3 !important;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',
		endColorstr='#ffe6e6e6', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	*zoom: 1;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px
		rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px
		rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px
		rgba(0, 0, 0, 0.05);
}

button:hover,input[type="reset"]:hover,input[type="submit"]:hover,input[type="button"]:hover,button:focus,input[type="reset"]:focus,input[type="submit"]:focus,input[type="button"]:focus,button:active,input[type="reset"]:active,input[type="submit"]:active,input[type="button"]:active
	{
	color: #333333;
	background-color: #F8EFFB;
	border-color: #E0ABF0;
	box-shadow: 0px 0px 4px #6A0888;
}

button:active,input[type="reset"]:active,input[type="submit"]:active,input[type="button"]:active
	{
	background-color: #cccccc \9;
}

button:first-child,input[type="reset"]:first-child,input[type="submit"]:first-child,input[type="button"]:first-child
	{
	*margin-left: 0;
}

button:hover,input[type="reset"]:hover,input[type="submit"]:hover,input[type="button"]:hover,button:focus,input[type="reset"]:focus,input[type="submit"]:focus,input[type="button"]:focus
	{
	color: #333333;
	text-decoration: none;
	background-position: 0 -15px;
	background-image: none;
	-webkit-transition: background-position 0.1s linear;
	-moz-transition: background-position 0.1s linear;
	-o-transition: background-position 0.1s linear;
	transition: background-position 0.1s linear;
}

button:focus,input[type="reset"]:focus,input[type="submit"]:focus,input[type="button"]:focus
	{
	outline: thin dotted #333;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

button[disabled],input[type="reset"][disabled],input[type="submit"][disabled],input[type="button"][disabled]
	{
	color: grey;
}

input,button,select,textarea {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

select,textarea,input[type="text"],input[type="password"],input[type="datetime"],input[type="datetime-local"],input[type="date"],input[type="month"],input[type="time"],input[type="week"],input[type="number"],input[type="email"],input[type="url"],input[type="search"],input[type="tel"],input[type="color"]
	{
	display: inline-block;
	height: 26px;
	padding: 4px 6px;
	margin-bottom: 0px;
	font-size: 10px;
	line-height: 10px;
	color: #555555;
	vertical-align: middle;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

select[disabled],input[disabled],input[type="text"][disabled],input[type="password"][disabled],input[type="datetime"][disabled],input[type="datetime-local"][disabled],input[type="date"][disabled],input[type="month"][disabled],input[type="time"][disabled],input[type="week"][disabled],input[type="number"][disabled],input[type="email"],input[type="url"][disabled],input[type="search"][disabled],input[type="tel"][disabled],input[type="color"][disabled]
	{
	-moz-appearance: none;
	-webkit-appearance: none;
	border: 0;
	color: #000000;
	background-image: none;
}

textarea[disabled] {
	color: #000000;
}

input.large {
	width: 200px;
}

input[type="text"] {
	text-transform: uppercase;
}

textarea {
	text-transform: uppercase;
}

/* Este estilo sera aplicado a todas las primeras columnas (label del input) */
.form_label {
	text-align: right;
	vertical-align: middle !important;
	font-weight: bold;
	color: #555555;
}

/* Este estilo sera aplicado a todos los inputs de los formularios */
.form_input {
	text-transform: uppercase;
	text-align: left;
	font-weight: normal;
}

.form_input_disabled {
	text-transform: uppercase;
	text-align: left;
	font-weight: normal;
	border: 0;
	color: #FFFFFF;
}

/* Este estilo sera aplicado a todos los errores de los inputs */
.form_error {
	text-align: left;
	color: #880000 !important;
	text-transform: none;
	vertical-align: middle !important;
}

.faces-error {
	text-align: left;
	color: #880000 !important;
}

/* Estilo para los botones de la izquierda */
.list_button_class {
	text-align: left;
}

.list_export_class {
	text-align: center;
}

/*	Estilo para los botones de paginacion */
.list_pagin_class {
	text-align: right;
}

.list_pagin_class input {
	height: 22px;
	font-size: 11px !important;
}

.list_pagin_class>span>span {
	margin-right: 5px;
}

.commandButton {
	height: 20px !important;
}

/* Remove extra space inside buttons in Firefox */
.commandbutton::-moz-focus-inner {
	border: none;
	padding: 0em;
}

.rf-cp+.rf-cp {
	margin-top: 10px;
}

.main-content ** {
	font-size: 13px !important;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -63px;
}

.push {
	height: 63px;
}
/** fin estilos generales **/

/** inicio clases de helpers **/
.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

ul.unstyled,ol.unstyled {
	margin-left: 0;
	list-style: none;
}

ul.inline,ol.inline {
	margin-left: 0;
	list-style: none;
}

ul.inline>li,ol.inline>li {
	display: inline-block;
	*display: inline;
	/*padding-right: 5px;
	padding-left: 5px;*/
	*zoom: 1;
}

li.divider:after {
	content: "";
	*width: 100%;
	height: 10px;
	margin-left: 5px;
	overflow: hidden;
	border-left: 2px solid #99B2B7;
}

.space {
	margin: 10px;
}
/** fin clases helpers **/

/** estilos para top **/
#top {
	position: relative;
	background-color: #ffffff;
	color: #99B2B7;
	padding: 1px;
	margin: 10px 10px 10px 10px;
	line-height: 70px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#top img {
	margin-left: auto;
	margin-right: auto;
	width: 120px;
	text-align: center;
}

#top a {
	line-height: auto;
}

#top a:link,#top a:visited {
	color: gray;
	font-weight: bold;
	text-decoration: none;
}

#top a:link:hover,#top a:visited:hover {
	color: black;
	font-weight: bold;
	text-decoration: underline;
}

#top .user-login {
	position: absolute;
	width: auto;
	right: 3%;
	margin-top: -1%;
}

#top .app-title {
	text-align: center;
	line-height: 3.5em;
}

#top h1 {
	font-size: 2.8em;
	/*	font-family: Arial,'Arial Unicode MS',Helvetica,Sans-Serif;  */
	/*    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;   */
	font-family: "Lato", "Lato Latin", "Helvetica Neue", Helvetica, Arial,
		sans-serif;
	color: #6E6E6E;
	text-shadow: 1px 0 rgba(0, 0, 0, 0.25);
}

#top .rf-p {
	-webkit-border-radius: 10px !important;
	-moz-border-radius: 10px !important;
	border-radius: 10px !important;
	background-color: #ffffff !important;
	margin-bottom: 0px !important;
}

/** Para la información del footer, label es la etiqueta y info es la información*/
.footer_info {
	text-align: left;
	color: black;
}

.footer_label {
	text-align: right;
	color: gray;
}

.picker {
	display: none;
}
/*
	Estilos para el checkBox de expandir menú
*/

/*
.check_expand {
	background: url('../resources/images/arrow_expand.png') no-repeat;
	height: 16px;
	width: 16px;
	display: inline-block;
	padding: 0 0 0 0px;
}

.check_expand:checked {
	background: url('../resources/images/arrow_collapse.png') no-repeat;
	height: 16px;
	width: 16px;
	display: inline-block;
	padding: 0 0 0 0px;
}*/
.espan2 {
	
}

.espan10 {
	
}

@media ( min-width : 768px ) and ( max-width: 1024px ) {
	#top h1 {
		font-size: 2em;
	}
	.container-fluid {
		padding-right: 1%;
		padding-left: 1%;
	}
	#menuWrapper .rf-p-b {
		padding: 1px;
	}
	.row-fluid .espan2 {
		width: 18%; /* 14,36 es span 2 y 22,92 es span 3*/
	}
	.row-fluid .espan10 {
		width: 80%; /* 74.3 es span 9*/
	}
}
/** fin estilos para top **/

/** estilos para breadcrumb **/
.breadcrumb {
	padding: 8px 15px;
	margin: 0 0 20px;
	list-style: none;
	background-color: #6A0888;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border-style: solid;
	border-width: 1px;
	border-color: #ffffff;
	background-image: linear-gradient(to bottom, #6A0888, #8939A2)
		!important;
}

.breadcrumb>li {
	display: inline-block;
	*display: inline;
	text-shadow: 0 0px 0 #ffffff;
	*zoom: 1;
	color: #ffffff;
}

.breadcrumb>li>.divider {
	padding: 0 5px;
	color: #99B2B7;
	font-weight: bold;
}
/** fin estilos para breadcrumb **/

/** estilos para maincontent y footer **/
.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -4em;
}

.footer {
	height: 3em;
	width: 100%;
	padding-right: 20px;
	margin-bottom: 10px;
}

.footer>* {
	float: right;
}

/** estilos para wrapper y footer **/

/** overrides de componentes de richfaces **/

/* se normalizan los headers para los distintos elementos */
.rf-cp-hdr,.rf-pm-top-gr-hdr,.rf-edt-hdr,.rf-edt-tbl-hdr,.rf-pp-hdr,.rf-p-hdr
	{
	background-color: #F8EFFB !important;
	border-color: rgba(0, 0, 0, 0.1) !important;
	color: #6A0888 !important;
	background-image: none !important;
}

/* margin entre paneles */
.rf-cp, /* rich:collapsiblePanel*/ .rf-p /* rich:panel */ {
	margin-bottom: 10px;
}

/* rich:extendedDataTable */
.rf-edt-tbl {
	width: 100% !important;
}

.rf-edt {
	border-color: rgba(0, 0, 0, 0.4) !important;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.rf-edt-c-cnt,.rf-edt-hdr-c-cnt {
	/*	color: black !important;  */
	color: #000000 !important;
	white-space: normal !important;
	width: 110px;
	height: 40px !important;
}

.rf-edt-c-cnt {
	font-size: 10px !important;
	height: 100% !important;
}

.rf-edt-hdr-c-cnt {
	padding-top: 8px !important;
	margin: 0 auto;
}

.rf-edt-hdr-c,.rf-edt-c {
	width: 100% !important;
	overflow: hidden !important;
	height: 100% !important;
}

.rf-edt-hdr-c {
	border-bottom: none !important;
}

.rf-edt-rsz-cntr {
	width: 100% !important;
}

/*.rf-edt-rsz {
	width: 100px !important;
}*/
.rf-edt-c-cnt>input[class=commandButton] {
	margin-left: 3px;
	margin-top: 3px;
	padding: 1.3px;
}

.rf-edt-c-cnt>input[class=commandButton]:first-child { 1
	margin-left: 40%;
}

.actions .rf-edt-c-cnt {
	white-space: nowrap !important;
}

.data-table-exports .rf-edt-c-cnt /* exports column in dataTable */ {
	margin: 0 auto;
}

/* rich:inplaceInput */
.rf-ii-fld {
	margin-top: -3px !important;
	height: 20px !important;
	background-color: white !important;
	font-size: 10px !important;
	text-transform: none !important;
}

.rf-ii,.rf-ii-fld {
	padding-top: 3px;
	height: 26px !important;
	font-size: 11px !important;
	border-bottom-style: none !important;
	color: #808080 !important;
	border-width: 1px !important;
	border-style: solid !important;
	border-color: #C0C0C0 !important;
	background-color: #ffffff !important;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.rf-ii-fld-cntr {
	padding-top: 3px;
}

/* Estilo para los mensajes de error generales
   @see http://docs.jboss.org/richfaces/latest_4_0_X/Component_Reference/en-US/html/chap-Component_Reference-Output_and_messages.html#sect-Component_Reference-Output_and_messages-richmessage */
.rf-msg-ftl,.rf-msgs-ftl,.rf-msg-inf,.rf-msgs-inf,.rf-msg-wrn,.rf-msgs-wrn,.rf-msg-ok,.rf-msgs-ok
	{
	display: block !important;
	margin-left: 20px !important;
	padding-left: 20px !important;
	color: #005F00 !important;
	border-style: solid;
	background: #DFFFDF;
	border-color: #9FCF9F;
}

.rf-msg-err,.rf-msgs-err {
	/*	background-image: none !important;  */
	/*	margin-left: 0px !important; */
	/*	padding-left: 0px !important;  */
	color: #880000 !important;
	background: #FFE3E3;
	border-color: #DD0000;
	border-style: solid;
	display: block !important;
	margin-left: 20px !important;
	padding-left: 20px !important;
	border-width: 1px;
}

.rf-msg-det {
	text-transform: none !important;
}

.rf-msg-sum,.rf-msgs-sum {
	display: inline;
}

.rf-msg-ftl,.rf-msgs-ftl {
	color: #880000 !important;
	background: #FFE3E3;
	border-color: #cccccc;
	border-style: solid;
	/*    display: block !important;  */
	margin-left: 20px !important;
	padding-left: 20px !important;
	border-width: 1px;
}

/* rich:popupPanel */
.rf-pp-cntr {
	-webkit-box-sizing: initial;
	-moz-box-sizing: initial;
	box-sizing: initial;
}

.rf-pp-hdr {
	border-color: black !important;
}

.rf-pp-hdr-cntrls input.btn-cancel {
	height: 18px;
	padding: 4px 8px;
	font-size: 11px;
	line-height: 9px;
}

.rf-pp-hdr-cnt {
	color: black !important;
}

td.form_input select {
	width: 100% !important;
}

.rf-cp, /* rich:collapsiblePanel */ .rf-cp-hdr,
	/* rich:collapsiblePanel header */ .rf-pm-top-gr,
	/* rich:panelMenu group */ .rf-pm-top-itm,
	/* rich:panelMenu top item */ .rf-p, /* rich:panel */ .rf-p-hdr,
	/* rich:panel header */ .rf-cal-extr
	/* rich:calendar calendar exterior */ {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-appearance: none;
	-moz-appearance: none;
	border-radius: 4px;
}

/* Agregados */
.rf-pm-itm-sel {
	font-style: normal !important;
}

.rf-pm-itm-sel:hover {
	font-style: normal !important;
}

#top .rf-p-b {
	/*   background-color: #3B598D !important;   */
	/* background-color: #A9D0F5 !important;      */
	background-color: #FFFFFF !important;
}

/* .rf-p-b{
	background-color: #FFF;
}
*/
.rf-pm-itm:hover {
	background-color: #F8EFFB !important;
}

.rf-pm-gr-hdr:hover {
	background: none repeat scroll 0 0 #F8EFFB !important;
	color: #FFFFFF;
}

.rf-p {
	/* Este modifique para la raya de arriva....*/
	color: #FFFFFF !important;
	/*	color: #991E99 !important;   */
	background-color: #FFFFFF !important;
}

button[disabled],input[type="reset"][disabled],input[type="submit"][disabled],input[type="button"][disabled]
	{
	background-color: #d7d7d7 !important;
	/*    background-image: url("/SIGHStock/faces/rfRes/buttonDisabledBackgroundImage.png?v=4.2.2.Final&db=eAFjZGBkZOBm!P-f8f!Hjx8Z!585c4aBCQBP8glH&ln=org.richfaces.images");   */
	background-image: none;
	background-position: left top;
	border-color: #CCCCCC;
	color: #808080;
	cursor: not-allowed;
}

span {
	color: #555555 !important;
}

.rf-pm-top-gr {
	border-color: #C0C0C0;
	border-style: solid;
	border-width: 1px;
	margin-bottom: 3px;
}

.rf-pm-itm {
	border-top: 1px solid #ffffff !important;
	color: #6A0888 !important;
	cursor: pointer;
	padding: 2px 1px 2px 2px;
	white-space: nowrap;
}

.rf-pm-gr {
	border-top: 1px solid #ffffff !important;
}

.rf-pm-gr-hdr {
	color: #6A0888 !important;
	cursor: pointer;
	font-weight: bold;
	white-space: nowrap;
}

.rf-ico-triangle,.rf-ico-triangle-dis,.rf-ico-triangle-hdr-dis {
	background-image: url("../resources/images/menuItem.ico") !important;
}

.rf-ico-triangle-down,.rf-ico-triangle-down-dis,.rf-ico-triangle-down-hdr-dis
	{
	background-image: url("../resources/images/menuItem.ico") !important;
}

.rf-ico-triangle-up,.rf-ico-triangle-up-dis,.rf-ico-triangle-up-hdr-dis
	{
	background-image: url("../resources/images/menuItem.ico") !important;
}

.rf-msg-inf,.rf-msgs-inf {
	background-image: url("../resources/images/bien.gif") !important;
	background-repeat: no-repeat;
}

.rf-msg-err,.rf-msgs-err {
	background: #FFE3E3 url("../resources/images/mal.png") no-repeat top
		left;
	padding-left: 15px;
}

.faces-error {
	background: #FFFFFF url("../resources/images/mal.png") no-repeat top
		left;
	padding-left: 15px;
}

.rf-pm-top-gr {
	border-color: #FFFFFF !important;
	border-style: solid;
	border-width: 1px;
	margin-bottom: 3px;
}

.rf-msg-wrn,.rf-msgs-wrn {
	color: #880000 !important;
	background: #FFE3E3 url('../resources/images/mal.png') no-repeat top
		left;
	border-color: #DD0000;
	border-style: solid;
	margin-left: 20px !important;
	padding-left: 20px !important;
	border-width: 2px;
}

/* Fin agregados..  */
.rf-pm-top-itm:hover,.rf-pm-gr-hdr:hover {
	color: #99B2B7 !important;
}

.rf-tab-hdr { /* rich:tabPanel header*/
	background-color: #CCD8DB !important;
	border-color: rgba(0, 0, 0, 0.4) !important;
	color: black !important;
	background-image: none !important;
	-webkit-border-top-left-radius: 4px;
	-moz-border-top-left-radius: 4px;
	-o-border-top-left-radius: 4px;
	-ms-border-top-left-radius: 4px;
	border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-top-right-radius: 4px;
	-o-border-top-right-radius: 4px;
	-ms-border-top-right-radius: 4px;
	border-top-right-radius: 4px;
}

.rf-tab-hdr-tabline-vis.rf-tab-hdr-tabline-top
	/* rich:tabPanel header tabline*/ {
	background: none !important;
	border-color: #E2F6E2 !important;
}

.rf-tab-hdr-act /* rich:tabPanel active tab */ {
	background: #FFFFFF !important;
	font-widht: normal !important;
	border: 1px solid #99B2B7 !important;
	border-bottom-width: 0px !important;
	border-color: rgba(0, 0, 0, 0.4) !important;
	-webkit-border-top-left-radius: 4px;
	-moz-border-top-left-radius: 4px;
	-o-border-top-left-radius: 4px;
	-ms-border-top-left-radius: 4px;
	border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-top-right-radius: 4px;
	-o-border-top-right-radius: 4px;
	-ms-border-top-right-radius: 4px;
	border-top-right-radius: 4px;
}

.rf-tab-hdr-dis.rf-tab-hdr-top /* rich:tabPanel inactive tab */ {
	border: none !important;
	padding-top: 2px !important;
}

.rf-tab-hdr-brd /* rich:tabPanel tab header border */ {
	border: none !important;
	border-top: 0px !important;
	height: 0px !important;
	background: none !important;
}

.rf-insp-btns /* rich:inputNumberSpinner buttons of spinner*/ {
	background-color: initial !important;
	background-image: none !important;
	height: 26px !important;
	padding-top: 5px !important;
}

.rf-msgs-det {
	
}

.form_input>.rf-insp+label {
	margin-right: 5px !important;
}

.rf-insp-inp /* rich:inputNumberSpinner input field */ {
	vertical-align: initial !important;
}

.rf-cal-hdr, /* rich:calendar calendar header */ .rf-cal-tl,
	/* rich:calendar calendar toolbars */ .rf-cal-hdr-month
	/* rich:calendar month header */ {
	background-color: #99B2B7 !important;
	color: black !important;
}

.rf-cal-ftr /* rich:calendar footer */ {
	border-bottom: 1px solid !important;
	border-bottom-color: #C0C0C0 !important;
}

@media ( min-width : 768px) and (max-width: 1024px) {
	/*	.rf-edt-c-cnt,.rf-edt-hdr-c-cnt {
		width: 50px !important;
	}*/
	.rf-edt-hdr-c-cnt {
		min-height: 30px !important;
		padding-top: 5px !important;
		line-height: normal;
		margin: 0;
	}
	.rf-edt-rsz {
		width: 50px !important;
	}
	.actions .rf-edt-c-cnt {
		margin: 0;
	}
	.rf-ii {
		width: 175px !important;
	}
	.rf-edt-c-cnt>input[class=commandButton] {
		font-size: 10px !important;
	}
	.rf-edt-c-cnt>input[class=commandButton]:first-child {
		margin-left: -3px;
	}
}

#navigator .rf-insp {
	width: 50px;
}

#navigator .rf-insp-inp {
	width: 30px;
}

#navigator .rf-insp-btns,.rf-insp-dec,.rf-insp-inc {
	width: 20px;
}
/** fin overrides de componentes de richfaces **/

/*
Css para los requeridos
*/
.required_label {
	color: #555555;
}

.required_label:after {
	color: blue;
	content: "\00a0*";
}

.required_field { /*	color: blue !important;*/
	
}

.rf-pm-exp {
	display: block;
	text-align: left;
}
.rf-pm-itm-sel {
	color: #9F9F9F !important;
	font-weight: bold !important;
}

/*
	CSS para el panel de cargando
*/
.loading_pop_up {
	text-align: center;
}

.cell-div {
	width: 100% !important;
	height: 100%;
	overflow-x: hidden;
}

.cell-border {
	border-bottom: 1px solid #c0c0c0;
	border-right: 1px solid #c0c0c0;
	overflow-x: hidden;
	vertical-align: top;
}

element.style {
	vertical-align: middle;
}
