# Este archivo define las propiedades que pueden cambiar entre deploys.
# Idealmente esta en un path externo, dentro del sistema operativo, por
# ejemplo en:
#
# 			/etc/project/module.properties
#
#
# Este valor es definido por el archivo karaku.properties, en la llave:
# `karaku.changing.properties`, la cual es especial para los valores que
# pueden cambiar entre ejecuciones (base de datos, servidores de logeo, 
# etc).


# Este valor es cambiante, pues depende de como se deploye en el servidor,
# lo cual esta atado al nombre del war que lo contiene, para ejecuciones
# de maven, el war siempre se llama SAS, mas especificamente,tiene el 
# nombre definido en <final.name>. Cuando esto se deploya por eclipse, 
# normalmente tiene el nombre del proyecto, el cual depende del nombre
# de la carpeta, y de la manera en la que se importe el proyecto.
# Atender ademas que esta tiene que ser una URL accesible desde el servidor
# cas, osea si el servidor cas no se encuentra en la misma maquina que el
# servidor JBOSS, no servira la direccion usada como ejemplo.
application.host = http://localhost:8080/PROJECT_NAME

# Ubicacion del servidor de autenticacion, esto es cambiante pues aqui
# debe ir la URL para acceder al servidor, y depende de la red, incluso
# si esta en la misma maquina se puede poner localhost:PORT, tener en 
# cuenta que el sistema solo funciona (ACTUALMENTE) con http.
cas.server.host = http://devel-cia01.pol.una.py:8181

# Ubicacion del servidor LDAP, para acceso de los roles de cada usuario,
# mismas consideraciones que para el servidor de ldap
ldap.server.host = ldap://devel-cia01.pol.una.py:389

# El dominio para autenticar usuarios, esto depende unicamente de la 
# configuracion del servidor Ldap
ldap.DN = dc=med,dc=una,dc=py

# Usuario maestro que se utilizara para autenticar otros usuarios.
ldap.user = uid=Cas,ou=users,dc=med,dc=una,dc=py

# Password del usuario definido anteriormente
ldap.user.password = cas

# Cadena de conexion a la base de datos, puede cambiar entre
# ejecuciones.
database.url = jdbc:postgresql://localhost:5432/project

# Usuario de la base de datos
database.user = postgres

# Passoword del usuario anterior
database.password = postgres

# URL a la pagina principal del sistema. 
# Si el sistema es independiente, y tiene su propia página principal, 
# se puede asignar la misma, o en el web.xml (se recomienda el web.xml) 
application.homePage = /SIGH/faces/views/index.xhtml

# Cadena de conexion al servidor de archivos.
fileserver.url = http://storage-cia01.pol.una.py:8080/modeshape-rest