application.homePage = faces/views/index.xhtml
application.host = http://localhost:8080/SIGHImpl
cas.server.host = http://10.1.5.81:8181
ldap.server.host = ldap://10.1.5.81:389
ldap.DN = dc=med,dc=una,dc=py
ldap.user = uid=Cas,ou=users,dc=med,dc=una,dc=py
ldap.user.password = cas


jboss.entity.manager.factory.jndi.name = java:jboss/base/persistence
data-source = java:jboss/datasources/BaseDS
hibernate.dialect = org.hibernate.dialect.PostgreSQLDialect
hibernate.show_sql = true
hibernate.format_sql = true
base-package-hibernate = py.una.med.*

menu_location = menu.xml

