<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%msg%n</pattern>
		</encoder>
	</appender>


	<root level="info">
		<appender-ref ref="STDOUT" />
	</root>

	<!-- For debugging the Spring Context Cache -->
	<!-- <logger name="org.springframework.test.context.cache" level="DEBUG"/> -->

</configuration>
