<configuration>
	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
	
		<!-- Indicamos que el log se generara en el directorio de log del servidor -->
		<param name="File" value="${jboss.server.log.dir}/myApp.log"/>
		
		<!-- Definimos el patron que seguira el log -->
	    <encoder>
	       <pattern>%d %5p | %t | %-55logger{55} | %m %n</pattern>
	    </encoder>
	</appender>
	
	<root level="debug">
		<appender-ref ref="FILE" />
	</root>
	
</configuration>