<?xml version="1.0" encoding="UTF-8"?>
<datasources>
	<datasource jndi-name="java:jboss/datasources/BaseDS"
		pool-name="base" enabled="true" use-java-context="true">
		<connection-url>jdbc:postgresql://localhost:5432/base
		</connection-url>														
		<driver>postgresql</driver>
		<pool>
			<min-pool-size>1</min-pool-size>
			<max-pool-size>99</max-pool-size>
			<prefill>false</prefill>
			<use-strict-min>false</use-strict-min>
			<flush-strategy>FailingConnectionOnly</flush-strategy>
		</pool>
		<security>
			<user-name>postgres</user-name>
			<password>postgres</password>
		</security>
	</datasource>

	<drivers>
		<driver name="postgresql" module="org.postgresql">
			<xa-datasource-class>org.postgresql.xa.PGXADataSource
			</xa-datasource-class>
		</driver>
	</drivers>
</datasources>