<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
         http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	metadata-complete="true">

	<display-name>SIGH Base</display-name>

	<welcome-file-list>
		<welcome-file>faces/views/index.xhtml</welcome-file>
	</welcome-file-list>
	<context-param>
		<param-name>javax.faces.PROJECT_STAGE</param-name>
		<param-value>Development</param-value>
	</context-param>

	<context-param>
		<param-name>facelets.SKIP_COMMENTS</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>javax.faces.INTERPRET_EMPTY_STRING_SUBMITTED_VALUES_AS_NULL</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:/META-INF/spring/applicationContext.xml,
				classpath:/META-INF/spring/security-app-context.xml,
				classpath:/META-INF/spring/infrastructure.xml,
				classpath:/META-INF/spring/applicationContext-aop.xml,
				classpath:/META-INF/spring/applicationContext-orchestra.xml,
				classpath:/META-INF/spring/spring-ws-config.xml
				</param-value>
	</context-param>

	<context-param>
		<param-name>javax.faces.FACELETS_LIBRARIES</param-name>
		<param-value>/WEB-INF/sigh.taglib.xml</param-value>
	</context-param>
	<!-- RICH FACES THEMES -->
	<!--<context-param>-->
	<!--	<param-name>org.richfaces.skin</param-name>-->
	<!--	<param-value>classic</param-value>-->
	<!--</context-param>-->
	<context-param>
		<param-name>org.richfaces.skin</param-name>
		<param-value>sigh</param-value>
	</context-param>

	<!-- <context-param> -->
	<!-- <param-name>facelets.LIBRARIES</param-name> -->
	<!-- <param-value>/WEB-INF/springsecurity.taglib.xml</param-value> -->
	<!-- </context-param> -->

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<listener>
		<listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
	</listener>

	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>/faces/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>jboss-as-kitchensink</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/jboss-as-spring-mvc-context.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>jboss-as-kitchensink</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<!-- Define the Spring WS Servlet. The 'transformWsldLocations' param means 
		that any WSDLs generated are context-aware and contain the correct path to 
		their exposed port types. The 'contextConfigLocation' param with an empty 
		value means that the Spring context won't try to load a file called webservices-servlet.xml -->
	<servlet>
		<servlet-name>webservices</servlet-name>
		<servlet-class>org.springframework.ws.transport.http.MessageDispatcherServlet</servlet-class>
		<init-param>
			<param-name>transformWsdlLocations</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value></param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>webservices</servlet-name>
		<url-pattern>*.wsdl</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>webservices</servlet-name>
		<url-pattern>/endpoints/*</url-pattern>
	</servlet-mapping>

	<!-- Filtro de Codificacion de caracteres -->
	<filter>
		<filter-name>characterEncodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>characterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- Filtro de Spring Security -->
	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<listener>
		<listener-class>org.jasig.cas.client.session.SingleSignOutHttpSessionListener</listener-class>
	</listener>

	<listener>
		<listener-class>org.apache.myfaces.orchestra.conversation.servlet.ConversationManagerSessionListener</listener-class>
	</listener>

</web-app>
